.products-categories .container .categories{
    padding-top: 20px;
}

header.header-type-2 .main-nav-area.sticky {
    background: rgba(254, 253, 252, 0.9);
}

header.header-type-2 .main-nav-area.sticky:hover {
    background: #ffffff;
}

